<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhieasy.blog.Mapper.TagMapper">
    <resultMap id="TagResultMap" type="com.zhieasy.blog.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="selectAll" resultMap="TagResultMap">
        SELECT * FROM tag ORDER BY id ASC
    </select>

    <select id="selectById" parameterType="int" resultMap="TagResultMap">
        SELECT * FROM tag WHERE id = #{id}
    </select>

    <select id="selectByName" parameterType="string" resultMap="TagResultMap">
        SELECT * FROM tag WHERE name = #{name}
    </select>

    <insert id="insert" parameterType="com.zhieasy.blog.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag (name) VALUES (#{name})
    </insert>

    <update id="update" parameterType="com.zhieasy.blog.entity.Tag">
        UPDATE tag SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM tag WHERE id = #{id}
    </delete>
</mapper>